### DATA STRUCTURES:
<br> A data structure is nothing but a collection of data values.<br>

In [2]:
name = input("enter your name")
number = input("your number")
print(name, number)

medini 987

In [7]:
from random import seed
#random is python library and randint is a function that generates random numbers in the given range
from random import randint
value = randint(100,999)
print(name,number,value)

medini 987 932

In [5]:
#convert the above to list which can store any data type it can be string integer 
list1 = [name, number, value]
print(list1)

['medini', '987', 784]

## Lists
<br> lists are an ordered sequence of mixed data types<br>
<br> Lists are mutable<br>
<br> Lists are written as comma separated elements which square brackets <br>

In [242]:
# Introduction
L = ["India", 5, 21, "Mumbai"]
L

['India', 5, 21, 'Mumbai']

In [10]:
# Nested List is a list which will have one list inside the another list,
# in this below list there are four components 2 strings, another list and an integer
L = ["India", "Mumbai", [1999, 5], 10]
print(L)

['India', 'Mumbai', [1999, 5], 10]

In [129]:
# Indexing to access components in a list
L = ["India", "Mumbai", [1999, 5], 10]
L[0]

'India'

In [13]:
L[-2]

[1999, 5]

In [14]:
L[-2][0] # This will give the first component of the second list which is inside the list at -2 position

1999

In [22]:
# Slicing
List2 = ["Chemistry", "Biology", [1999, 5], 10]
sliced = List2[1:3]
print(sliced)

['Biology', [1999, 5]]

In [24]:
# Membership in list
L1 = [1,2,3,4]
print(5 in L1)

False

In [25]:
# list concatenation
newL = List2 + [5,8]
print(newL)

['Chemistry', 'Biology', [1999, 5], 10, 5, 8]

In [29]:
# Replace biology with physics mutable list
List2 = ["Chemistry", "Biology", [1999, 5], 10]
List2[1] = "Physics"
print(List2)

['Chemistry', 'Physics', [1999, 5], 10]

In [36]:
#extend: if any ELEMENTS to be added to the list without creating a new list like previously done we can use function extend()
List3 = [["Physics", "Biology", [1999, 5], 10]]
List3.extend([5,8])
print(List3)

[['Physics', 'Biology', [1999, 5], 10], 5, 8]

In [42]:
# Append()is used to add new list to list but append will take the whole component as a list and as a whole elements and adds that LIST to the main list
List3 = ["Physics", "Biology", [1999, 5], 10]
List3.append([5,8])
print(List3)

['Physics', 'Biology', [1999, 5], 10, [5, 8]]

In [44]:
# del command will delete an element from the list using index of that element
List3 = ['Physics', 'Biology', [1999, 5], 10, [5, 8]]
del List3[0:2] # first element index and the second element index to be deleteed
List3

[[1999, 5], 10, [5, 8]]

In [45]:
# pop() will pop the last element out and gives the remaining list
List1 = ['Physics', 'Biology', [1999, 5], 10, [5, 8]]
List1.pop()
print(List1)

['Physics', 'Biology', [1999, 5], 10]

In [47]:
#remove() remove one element of the list by name and not the index
List1 = ['Physics', 'Biology', [1999, 5], 10, [5, 8]]
List1.remove('Biology')
print(List1)

['Physics', [1999, 5], 10, [5, 8]]

In [48]:
# Sorting list
# sort() will arrange the elements in the list in ascending order
l = [32,41,3,2,1]
l.sort()
print(l)

[1, 2, 3, 32, 41]

In [49]:
# if you need to sort in descending order
l = [32,41,3,2,1]
l.sort(reverse=True)
print(l)

[41, 32, 3, 2, 1]

<B> Difference between sort and sorted<B>

In [51]:
A = ["Apple", "Orange", " Mango"]
B = A.sort()
print(A)
print(B)

None

In [53]:
# sorted(listvariable) will keep the list as it is but if you want the list to be sorted in place or starting then Listname.sort() is used
A = ["Apple", "Orange", "Mango"]
C = sorted(A)
print(A)
print(C)

['Apple', 'Orange', 'Mango']
['Apple', 'Mango', 'Orange']

## PRACTICE EXERCISE ON LIST

In [55]:
list_1 = [2, 33, 222, 14, 25]
sliced =list_1[-5]
print(sliced)

2

In [56]:
word = ['1','2','3','4']
word[ : ] = [ ] 
print(word)

[]

In [57]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

Remove SPSS from input_list=['SAS', 'R', 'PYTHON', 'SPSS'] and add 'SPARK' in its place.

In [58]:

input_list=['SAS', 'R', 'PYTHON', 'SPSS']
input_list[3] = ('SPARK')
print(input_list)

['SAS', 'R', 'PYTHON', 'SPARK']

Convert a list ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] to a string using ‘&’. The sample output of this string will be:<br>
Pythons syntax <B>is</B> easy to learn & Pythons syntax <B>is</B> very clear

In [83]:
# take the list from the user
list1 = ['Pythons syntax is easy to learn', 'Pythons syntax is very clear'] 
# create a new variable to join & with .join function for the sentence present in the list
string_1 = ' & '.join(sentence.replace(' is ', ' is ') for sentence in list1)
# Print the result
print(string_1)

Pythons syntax is easy to learn & Pythons syntax is very clear

Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and unique customer code. In this example, second_name= 'Kumar', first_name= 'Ravi', customer_code = '003'.



A sample output of the input 'Kumar_Ravi_003' is:

Ravi<br>
Kumar<br>
003<br>

In [99]:
#take an input string from the user
input_str = 'Kumar_Ravi_003'
# create a new variable to create the list of that string using split() at a specific delimiter
list1 = input_str.split("_")
# sort the list in descending order
list1.sort(reverse=True)
# assign the elements in the list using indexing of that element
first_name = list1[0]
second_name = list1[1]
customer_code = list1[2]
# print the elements in the order expected
print(first_name)
print(second_name)
print(customer_code)

Ravi
Kumar
003

## Tuples<br>
Tuples are immutable<br>
Tuples are written as comma separated elements within parenthesis<br>
example It is used to store data such as employee information, which is not allowed to be changed.

In [102]:
t = ("disco", 12, 4.6)
print(t)
type(t)

('disco', 12, 4.6)

tuple

<B> Tuples can be defined without parentesis

In [103]:
sample_tuples = 1,2, "medini"
print(sample_tuples)

(1, 2, 'medini')

In [104]:
# single value tuple will have coma even if only single value is there
single_value_tuple = 1,
print(single_value_tuple)

(1,)

In [106]:
not_single_value_tuple = 1
print(not_single_value_tuple) # this is not tuple as it does not have comma it is an interger

1

## Indexing in tuple

In [109]:
tup = ("Medini", 5, "Python")
tup[-2]

5

## Slicing

In [112]:
tup = ("Medini", 5, "Python", 2, 4, 1)
tup[0:3]

('Medini', 5, 'Python')

In [113]:
# we can use len() function to get the length of the tuple and same goes to list as well
tup = ("Medini", 5, "Python", 2, 4, 1)
len(tup)

6

### concatenation of tuple

In [116]:
tuple1 = ("This", "is", "session", 2)
tup2 = ("On", "Tuples")
# concatenating by + operator
print(tuple1 + tup2)

('This', 'is', 'session', 2, 'On', 'Tuples')

### sum() - min() - max()

In [117]:
t = (2, 4, 5, -1)
min(t)

-1

In [118]:
max(t)

5

In [119]:
sum(t)

10

In [122]:
t = ("disco", 12, 4.5)
t[0][2]

's'

### Lists are immutable meaning you cannot change the elements already in a tuple

In [130]:
tup3 = ("Python", 12, 4.5)
tup3[1] = 13

TypeError: 'tuple' object does not support item assignment

In [134]:
# instead we can slice and then concatenate the element we would like to add without
tup3 = ("Python", 12, 4.5,"Medini", 5)
new_tup = tup3[0:1] + ("New element",) + tup3[2:5]
print(new_tup)

('Python', 'New element', 4.5, 'Medini', 5)

### Sorting tuple

In [193]:
# we can only use sorted and not sort as it creates a new list in list, but not for tuples as tuples are immutable
# when we use sorted() it returns us list but if we want it as tuple we need to use tuple()
t = (2,3,5,10,-1)
x = sorted(t)
print(x)

[-1, 2, 3, 5, 10]

### Nested tuple

In [150]:
nested_t = (1, 5, "Disco", ("Python", "Java"))
nested_t

(1, 5, 'Disco', ('Python', 'Java'))

In [151]:
nested_t[3][1]

'Java'

### Packing and unpacking in tuple

In [153]:
# when its just normal tuple its packing and is packed
pack_tuple = (1, 2, 3, 4)
(a, b, c, d) = pack_tuple # unpacking assigning 4 elements for the same tuple and when 3rd element is printed it prints the original tuple element
c

3

In [ ]:
pack_tuple = (1, 2, 3, 4)
(a, b, c, ) = pack_tuple # this will throw an error aas there is no 4 elements in the unpacked tuple
c

### dir() - to view attributes or methods of an object

In [156]:
t = ()
print(dir(t)) # this will give all the methods we can apply for this tuple

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

### EXERCISE ON TUPLES

Add the element ‘Python’ to a tuple input_tuple = ('Monty Python', 'British', 1969).

In [164]:
input_tuple = ('Monty Python', 'British', 1969)
new_tuple = input_tuple[0:3] + ("Python",)
print(new_tuple)

('Monty Python', 'British', 1969, 'Python')

##  SETS <br>
Sets are a type of collection like tuples list and can store mixed data types and are mutable <br>
Sets are enclosed within curly barackets <br>
Sets are unordered and are called as fast search unlike tuples and lists are not fast search<br>
Sets do not allow duplicates<br>

In [171]:
l = [1,3,2,4,5,5,4]
set_l = set(l)
print(set_l) # this removes duplicates and it is sorted but the order does not match which is unordered 
#sets does not allow indexing

{1, 2, 3, 4, 5}

add() and remove() can be used as sets are mutable

In [172]:
a = {1, 2, 3, 4, 5}
a.add("India")
a

{1, 2, 3, 4, 5, 'India'}

### Set Operations like union, intersection or differences btw two sets

In [174]:
A = {0,1,2,"Java"}
B = {4,6,5, "Python"}
print(A,B)

{0, 1, 2, 'Java'} {4, 5, 6, 'Python'}

UNION Of two sets

In [176]:
# UNION of two sets will give all the elements that are either in set A OR set B as a single set
# we can also use as print(A.union(B))
A = {0,1,2,4,"Java"}
B = {4,6,5,0, "Python"}
print(A|B)

{0, 1, 2, 'Java', 4, 5, 6, 'Python'}

Intersection

In [178]:
#value that are there in BOTH set A and B
# we can also use as print(A.intersection(B))
A = {0,1,2,4,"Java"}
B = {4,6,5,0, "Python"}
print(A & B)
print(A.intersection(B))

{0, 4}
{0, 4}

Differences

In [181]:
# the output will be values which are not in B but in A it is going to remove all the elements from A that are in B and gives only the values in A
# we can also use as print(A.difference(B))
A = {0,1,2,4,"Java"}
B = {4,6,5,0, "Python"}
print(A - B)

{1, 2, 'Java'}

Symmetric difference

In [182]:
# Output will be the union of sets but removes intersected values and gives the remaining
# either in A or in B but not in A and B
A = {0,1,2,4,"Java"}
B = {4,6,5,0, "Python"}
print(A ^ B)

{1, 2, 'Java', 5, 6, 'Python'}

Let’s say you have two lists A and B. Identify the elements which are common in the two lists A and B and return them in a sorted manner.

In [194]:
list_1 = [5,5,5,5,5,5,5,3]
list_2 = [3,3,5,5,1,7,2]
set_1 = set(list_1)
set_2 = set(list_2)
answer = sorted(set_1.intersection(set_2))
print(answer)

[3, 5]

In [195]:
nums = set([1,1,2,3,3,3,4])
print(len(nums))

4

## DICTIONARIES
Dict are used to store key and value pairs<br>
KEY is like an index, which is unique and immutable<br>
VALUES are the objects that contain information<br>
Values are accessed using their keys <br>
Each key is followed by value separated by a colon<br>
The values can be mutable, ummutable and duplciates<br>
Each key and value pair is separated by a comma enclosed in curly brackets<br>

In [196]:
D = {"India": "INR", "USA": "USD", "FRANCE": "EURO"}
print(D["USA"], D["India"])

USD INR

In [197]:
# Replace the value of a key we can also use Update({"key": "value"})
D = {"India": "INR", "USA": "USD", "FRANCE": "EURO"}
D["USA"] = "$"
D

{'India': 'INR', 'USA': '$', 'FRANCE': 'EURO'}

In [198]:
# Insert new KEY-VALUE pair
D["Japan"] = "Yen"
D

{'India': 'INR', 'USA': '$', 'FRANCE': 'EURO', 'Japan': 'Yen'}

In [199]:
# Deleye a KEY-VALUE pair
del D["FRANCE"]
D

{'India': 'INR', 'USA': '$', 'Japan': 'Yen'}

### Sorted

In [225]:
# Sort a dict will give keys in alpha order
D = {"India": "INR", "USA": "USD", "FRANCE": "EURO"}
sorted(D)

['FRANCE', 'India', 'USA']

In [203]:
# extract values from dict in sorted way and also key using .keys() function
d = {"India": "INR", "USA": "USD", "FRANCE": "EURO"}
d.values()

dict_values(['INR', 'USD', 'EURO'])

Write code to fetch the profession of the employee with Employee id - 104 from an employee input given in the form of a dictionary where key represent employ id and values represent the name, age, and profession (in the same order).

In [214]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}
Employee_data[104][2]

'Product Lead'

In [216]:
d = dict(a=1, b=2)
d

{'a': 1, 'b': 2}

In [218]:
d = {'a':1, 'b':2}
d

{'a': 1, 'b': 2}

From a Dictionary input_dict={'Name': 'Monty', 'Profession': 'Singer' }, get the value of a key ‘Label’ which is not a part of the dictionary, in such a way that Python doesn't hit an error. If the key does not exist in the dictionary, Python should return 'NA.

In [224]:
input_dict= {'Name': 'Monty', 'Profession': 'Singer'}
# Get the value for the key 'Label' with a value of 'NA'
answer = input_dict.get('Label', 'NA')
# if that key is not there in dict outsput should be NA
print(answer)

NA

Create a SORTED list of all values from the dictionary input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}

In [227]:
input_dict = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}
sorted(input_dict.values())

['Amazon', 'Apple', 'RJIO', 'Twitter']

Suppose you want to know the total score of the Indian cricket team in a given match. To do so, your task is to find the sum of all the scores of the Indian team players. The scores are provided as a list, with each element as an individual score of the players. Also, there is a condition that if the number of elements in the list is more than 11, then it is an invalid input and the output should be -1.

In [4]:
import ast 
scores = ast.literal_eval(input())
# create a variable to find sum of the scores
total_sum = sum(scores)
#check if the length of the list of score is greater than 11 output should be -1
if len(scores) > 11:
    print(-1)
#else output should be the total sum of scores in list
else:
    print(total_sum)

65

Given a list of strings, write a program to find the number of strings whose length is greater than or equal to K, where K is a positive integer.

In [10]:
# take a input of list and an integer with variable as K
list_string = input([])
K = int(input())
string_count = 0
for string in list_string:
    if len(string) >= K:
        string_count +=1    
print(string_count)

0