In [1]:
T = (3, 5, 7, 11)
T.append(9)
T

AttributeError: 'tuple' object has no attribute 'append'

In [2]:
L1 = ['Vikas', 'Akshay', 'Sanskar', 'Mahima']
print(L1[1][-1])

y

In [3]:
l = [32, 34, 12, 27, 33]
l.append([14, 19])
print(len(l))

6

In [4]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
     print(val)

1
2
3

In [6]:
print(list(range(10, 1, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

comprehensions

In [16]:
cars = ['suzuki','bmw','audi','tata']
cars = [car.upper() for car in cars ]
cars

['SUZUKI', 'BMW', 'AUDI', 'TATA']

In [17]:
cars = ['suzuki','bmw','audi','tata']
cars = [car[0].upper() for car in cars ]
cars

['S', 'B', 'A', 'T']

In [18]:
cars = ['suzuki','bmw','audi','tata']
cars = [car.capitalize() for car in cars ]
cars

['Suzuki', 'Bmw', 'Audi', 'Tata']

In [20]:
d = 23//5
print(d)

4

In [21]:
for i in range(3):
    print(i)

0
1
2

In [25]:

a=11

b=12

c=13 

d=14

print('%d %d %d' %(a,b,c))

print(d)

11 12 13
14

3